*{padding: 0; margin: 0;}

img{display: block;}

a{
    text-decoration: none;
    text-align: center;
    color: black;
    }

ul{
    margin-left: 90vw;
}

li{
    float: left;
    margin: 0 10px;
    list-style: none;
    border-bottom: 1px solid black;
}

    
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    }

nav>a{
    position: relative;
    top: 40%;
    left: 10%;
}

.container{
    width: 20%;
    height: 60vh;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    margin: 10% auto;

}

.oslob{
    background: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/Cebu/cebu_oslob1.webp);
    background-position: 50% 50%;
    background-size: cover;

}

.moal{
    background: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/Cebu/cebu_moal1.jpg);
    background-position: 40% 50%;
    background-size: cover;

}

.cebcity{
    background: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/Cebu/cebu_cebcity1.jpg);
    background-position: 40% 50%;
    background-size: cover;


}

.maktan{
    background: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/Cebu/cebu_maktan1.jpg);
    background-position: 50% 50%;
    background-size: cover;


}

.up{
    width: 30%;
    height: auto;
    margin: 12% 5%;
    text-align: center;
    

}

.viewfont{
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
}
.viewnum{
    margin-left: 5%;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;


    
}

.circle{
    width: 80%;
    height: auto;
    border-radius: 45%;
    background-color: rgb(255, 85, 85);
    text-align: center;
    margin-left: 15%;
    font-size: 100%;
    color: white;
}

.down{
    width: 100%;
    height: 5vh;
    background-color: rgb(184, 255, 169);
    color: black;
    text-align: center;
    line-height:5vh;
    font-size: 24px;
    margin-top: 60%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.bottom{
    width: 100%;
    height: 5vh;
    background-color: rgb(1, 0, 46);
    color: white;
    text-align: center;
    line-height:5vh;
    font-size: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.map{
    width: 50%;
    height: 80vh;
    margin: 3% auto;
    background: ;
}

.map>img{
    width: 80%;
    height: auto;
}
