*{margin: 0; padding: 0;}

img{
    display: block;
}
ul,li{
    list-style: none;
}
a{
color: black;
text-decoration: none;
text-align: center;
}

#profile{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 2%;
    right: 2%;
}

.person{
    width: 100px;
    height: 200px;
    float: left;
    margin: 50px 0;
    
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fir,.sec,.thi{
    width: 28%;
    height: 100vh;
    flex: 1 1 28%;
}

.fir{

    background-image: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/fuckuoka_main.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}
.sec{

    background-image: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/laos_main.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}
.thi{

    background-image: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/cebu_main.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover

}

h1{
    text-align: center;
    font-size: 150px;
    margin-top: 50%;
    color: rgba(255, 255, 255, 0.5)


}
#profile{
    float: left;
    margin: 0 auto;

}

.person{
    margin: 5% 0;
}