*{margin: 0; padding: 0;}

body{
    font-family: ;
}

img{
    display: block;
}

a{
text-decoration: none;
text-align: center;
color: black;
}


nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}


ul{
    margin-left: 90vw;
}

li{
    float: left;
    margin: 0 10px;
    list-style: none;
    border-bottom: 1px solid black;
}

nav>a{
    position: relative;
    top: 40%;
    left: 10%;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fir,.sec,.thi{
    width: 28%;
    height: 100vh;
    flex: 1 1 28%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;

}

.fir{

    background-image: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/fuckuoka_main.jpg);
}
.sec{

    background-image: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/laos_main.jpg);
}
.thi{

    background-image: url(https://togetherfolder.s3.ap-northeast-2.amazonaws.com/cebu_main.jpg);
}

h1{
    text-align: center;
    font-size: 150px;
    margin-top: 50%;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h4{
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: "Black Han Sans", serif;
    font-weight: 400;
    font-style: normal;


}
#profile{
    float: left;
    margin: 0 auto;

}
